html {
  	box-sizing: border-box;
}
*, *:before, *:after {
 	box-sizing: inherit;
}
.jumbotron {
     background: url('https://hd.unsplash.com/25/puppy-love.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     height: 31.25em;
     width: 100%;
}
.jumbotron h1 {
    margin-left: 1em;
}
.title-container {
    color: #FFFFFF;
    margin-left: 1em;
}
#pets, #search, #place {
    vertical-align: middle;
    padding-right: 0.313em;
}
#buttons, #footer {
    margin: 4em;
    text-align: center
}
#button-one, #button-two, #button-three {
    margin-bottom: 2em;
}
