html {
  	box-sizing: border-box;
}
*, *:before, *:after {
 	box-sizing: inherit;
}

#masthead {
  height: 500px;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container {
  background-image: url('https://hd.unsplash.com/25/puppy-love.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
