html {
  	box-sizing: border-box;
}
*, *:before, *:after {
 	box-sizing: inherit;
}
#search{
    text-align: center;
}

.jumbotron {
     background: url('https://hd.unsplash.com/photo-1469225208447-8329cbd3cb3a');
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     height: 31.25em;
     width: 100%;
     background-position-y: 45%;
}
.title-container {
    color: #FFFFFF;
    margin-left: 1em;
}
#breedList {
    text-align: left;
}
#home, #place, #pets{
    vertical-align: middle;
    padding-right: 0.313em;
}
#search-results {
    margin-left: 3%;
    margin-top: 3%;
}
#saveBreed, #saveProfile {
    vertical-align: middle;
}
#saveBreed:hover{
    cursor: pointer;
    background: grey;
}
#saveProfile:hover{
    cursor: pointer;
    background: grey;
}
.restart {
    margin-top: 2%;
    margin-bottom: 2%;
}
