html {
  	box-sizing: border-box;
}
*, *:before, *:after {
 	box-sizing: inherit;
}
#search{
    text-align: center;
}
.jumbotron {
     background: url('https://hd.unsplash.com/photo-1469225208447-8329cbd3cb3a');
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     height: 31.25em;
     width: 100%;
     background-position-y: 45%;
}
.title-container {
    color: #FFFFFF;
    margin-left: 1em;
}
.hidden {
    display: none;
}
.img {
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center;
    width: 9.375em;
    height: 9.375em;
}
#nav{
    margin-bottom: 0;
}
#searchBar, #searchLocation, #all-breeds, #submitButton {
    margin-bottom: 2em;
}
#breedList {
    margin-top: 2em;
    text-align: left;
    overflow: scroll;
    height: 12.5em;
}
#home, #place, #pets {
    vertical-align: middle;
    padding-right: 0.313em;
}
#saveBreed {
    vertical-align: middle;
}
#saveBreed:hover, .img:hover {
    cursor: pointer;
}
#footer-pets {
    margin: 4em;
    text-align: center
}
