html {
  	box-sizing: border-box;
}
*, *:before, *:after {
 	box-sizing: inherit;
}
#search {
    text-align: center;
}
.jumbotron {
     background: url('https://hd.unsplash.com/photo-1469225208447-8329cbd3cb3a');
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     height: 31.25em;
     width: 100%;
     background-position-y: 45%;
}
.jumbotron h1 {
    margin-left: 1em;
}
#searchFields {
    margin-top: 9.875em;
}
.profileSave {
    opacity: 0;
    height: 9.375em;
}
.profileSave:hover {
    opacity: 0.7;
    background-color: white;
    display: table-cell;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}
.title-container {
    color: #FFFFFF;
    margin-left: 1em;
}
.hidden {
    display: none;
}
.img {
    display: table;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center;
    width: 9.375em;
    height: 9.375em;
}
#nav {
    margin-bottom: 0;
}
#searchLocation, #all-breeds, #submitButton {
    margin-bottom: 2em;
}
#breedList {
    margin-left: 1em;
    overflow: scroll;
    height: 15em;
}
#breedList .searchableBreed {
    font-size: 1em;
}
#home, #place, #pets {
    vertical-align: middle;
    padding-right: 0.313em;
}
#saveBreed {
    vertical-align: middle;
}
#saveBreed:hover, .img:hover {
    cursor: pointer;
}
#footer-pets {
    margin: 4em;
    text-align: center
}
@media only screen and (max-width: 990px) {
    #searchLocation {
        margin-top: 2em;
    }
}
